@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,cursive;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
    /* background-color: #1c0522; */
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo {
    color: #fff;
    
    text-decoration: none;
    font-size: 52px;
    
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover {
    background-color: #fff;
    color: #2b1055;
}
.dropdown {
    position: relative;
    width: 110px;
    height: 35px;
    /* margin-top: 0px; */
    left: 20px;
    border-radius: 20px;
    /* background-color: white; */
    

}
.textBox_div {
    /* background-color: black; */
    height: 34px;
    width: 72%;
    border-radius: 40px;
    position: relative;
    /* top: 10px; */
    
}
.textBox_div:hover {
    background-color: white;

}
.textBox_div:hover .textBox::placeholder {
    color: #2b1055;
}
/* .textBox_div:hover .dropdown::before {
    border: 2px solid black;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    
} */

    

.textBox {
    margin-left: 6px;
    


}
.textBox::placeholder {
    color: white;
    font-size: 16px;
    
    
    

}

.dropdown::before {
    content: '';
    position: absolute;
    right: 14px;
    top: 8px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-45deg);
    pointer-events: none;
    transition: 0.4s;
}
.dropdown.active2::before {
    top: 15px;
    transform: rotate(-225deg);
}
.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    

}
.dropdown .option{
    position: absolute;
    top: 40px;
    width: 105%;
    /* background-color: white; */
    box-shadow: 0 32px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    

}
.dropdown .option a {
    text-decoration: none;
}
.dropdown.active2 .option{
    display: block;
}

    
.dropdown .option div {
    padding: 4px 5px;
    margin-top: 8px;
    border-radius: 13px;
    cursor: pointer;
    color: white;
}
.dropdown .option div:hover {
    background: white;
    color: black;
}
.dropdown .option div ion-icon {
    position: relative;
    font-size: 1.2em;
    top: 4px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522, transparent);
    z-index: 1000;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon {
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
}
#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 6.5vw;
    z-index: 9;
    right: -350px;
    pointer-events: none;
}
/* #btn {
    text-decoration: none;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 100px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
}
#btn  {
    margin-left: 1px;
} */

.box {
    transform: translateY(100px);
    /* color: white; */
    
}
.box span {
    
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite ;
}
.box span:nth-child(2) {
    animation-delay: -0.2s;
}
.box span:nth-child(3) {
    animation-delay: -0.4s ;
}
@keyframes animate {
    0%{opacity: 0;
    transform:  rotate(45deg) translate(-20px, -20px);}
    50%{opacity: 1;}
    100%{opacity: 0;
    transform:  rotate(45deg) translate(20px, 20px);}
}
.sec {
    position: relative;
    padding: 100px;
    /* margin-bottom: 300px; */
    padding-bottom: 250px;
    background-color: #1c0522;
    
    
}
.whoami {
    height: 350px;
    /* maxhi */
    width: 100%;
    /* background-color: #e34c26; */
    margin-bottom: 200px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.whoami .image{

    height: 100%;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.whoami .image img{
    width: 190px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.95);
}
.whoami .whoami_text {
    width: 470px;
    min-width: 300px;
    line-height: 38px;
}
.whoami .whoami_text p{
    
    font-size: 1.2vw;
}
.whoami_text h2 {
    margin-left: 0;
    color: white;
    font-size: 2.3em;
    pointer-events: none;
    margin-top: 40px;
    margin-bottom: 10px;
}
#projects_part_title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    pointer-events: none;

}
.sec p {
    font-size: 1em;
    color: #fff;
}


.all_cards {
    margin-top: 70px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 420px;
    min-width: 320px;
    height: 224px;
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.95);
    overflow: hidden;
}
.card .image {
    position: relative;
    overflow: hidden;
    /* height: 100%; */

}
.card .image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #33195c 50%, transparent);
    bottom: -115px;
    transition: 0.5s;
    z-index: 1;
}
.card:hover .image::before{
    bottom: 0;
}

.image img {
    height: 223px;
    
}
.card .image img {
    width: 100%;
    /* height: 100%; */
    transition: 0.5s;
    
}
.card:hover .image img{
    transform: translateY(-50px);
    filter: blur(5px);
}
.card .details {
    position: absolute;
    bottom: -100px;
    left: 0;
    padding: 20px;
    z-index: 2;
    transition: 0.5s;
    color: white;
    width: 100%;
    pointer-events: none;
}
.card:hover .details{
    bottom: 0px;
}

.card .details .tags {
    position: relative;
    margin-top: 7px;
}
.card .details .tags span {
    padding: 2px 5px;
    color: white;
    background: #e34c26;
    border-radius: 4px;
}
#python_tag {
    background: black;
}
.card .details .tags span:nth-child(2) {
    background: #264de4;
}
.card .details .tags span:nth-child(3) {
    background: rgb(255, 230, 0);
}
.card .details .description {
    color: white;
    margin-top: 10px;
}


footer {
    /* position: absolute; */
    /* bottom: 0; */
    /* padding: 0; */
    position: absolute;
    min-height: 100px;
    width: 100%;
    
    background: #120216;
    /* background-color: transparent; */
    /* height: 100px; */
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

}

.icons, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.icons li, footer .menu li {
    list-style: none;
}
.icons li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
}
.icons li a:hover {
    transform: translateY(-10px);
}
footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    opacity: 0.65;
}
footer .menu li a:hover {
    opacity: 1;
} 
footer .email{
    color: white;
    opacity: 0.65;
    display: block;
    font-size: .9em;
    letter-spacing: .1rem;
    margin-top: 20px;
    
}
footer .email:hover{
    opacity: 1;
}

.back_filler {
    background-color: #1c0522;
    width:100%;
    height: 150px;
    position: absolute;
    bottom: -150px;
    left: 0;
}





